*{
    margin: 0;
    font-family: sans-serif;
}
:root {
    --font-color: rgb(42,77,105); 
    --bg-color: rgb(187, 221, 248);
    --cell-gap: 12px;
    --cell-size: 100px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: var(--cell-gap);
    background-color: rgb(99,172,229);
    padding: 12px;
    font-size: 45;
    text-align: center;
    position: relative;
    border-radius: 1%;
    opacity: 100%;
}
.merge {
    position: relative;
}
.result {
    top: 190px;
    left: 110px;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0%;
    visibility: hidden;
    transition-delay: 2s;
    transition: all 1s ease-in-out;
}
.play-again {
    background-color: var(--bg-color);
    color: var(--font-color);
    width: 130px;
    text-align: center;
    padding: 10px;
    border-radius: 10%;
    border: 2px solid rgb(99,172,229);
    cursor: pointer;
}
.font-result {
    font-size: 60px;
}
.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    color: var(--font-color);
    border-radius: 4%;
    padding: 0px;
    background-color: var(--bg-color);
    min-width: var(--cell-size);
    min-height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.tile {
    position: absolute;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    min-width: var(--cell-size);
    min-height: var(--cell-size);
    top: calc((var(--x) * 112px) + var(--cell-gap));
    left: calc((var(--y) * 112px) + var(--cell-gap));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}
.head{
    font-size: 70px;
}
body {
    color: var(--font-color);
    background: rgb(231,239,246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    gap: var(--cell-gap);
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 445px;
}
.score {
    background-color: var(--bg-color);
    text-align: center;
    font-size: 12px;
    padding: 8px;
    border-radius: 5%;
}
.Best-score {
    background-color: var(--bg-color);
    text-align: center;
    font-size: 12px;
    padding: 8px;
    border-radius: 5%;
}
.scores-improv {
    display: flex;
    gap: 10px;
}
.bottom {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    max-width: 445px;
}
.instruct {
    font-weight: 100;
}
.h3 {
    font-weight: 600;
}
.bold {
    font-weight: 600;
}
.reset-container {
    min-width: 445px;
    border-radius: 3%;
    padding: 6px;
    max-width: 100px;
}
.reset {
    background-color: var(--bg-color);
    color: var(--font-color);
    width: 130px;
    text-align: center;
    padding: 5px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}
@keyframes show {   
    0% {
        opacity: .5;
        transform: scale(0);
    }
}
@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}
footer {
    position: fixed;
    bottom: 10px;
}
.based {
    font-size: 17px;
}